{% extends '../base.html' %}

{% block content %}

    <div class="container">
        <div class="inner">
            <ul class="w-100 text-center m-0 p-0 text-center">
                {% if request.user.is_authenticated %}
                    <li class="mb-4"><a href="{% url 'main:register' %}">شرکت در مسابقات</a></li>
                {% endif %}
                <li class="mb-4"><a href="{% url 'main:match-plan' %}">برنامه مسابقات</a></li>
                <li class="mb-4"><a href="{% url 'main:match-result' %}">نتایح مسابقات</a></li>
                <li><a href="{% url 'main:table' %}">جدول مسابقات</a></li>
            </ul>
        </div>
    </div>

{% endblock content %}