{% extends '../base.html' %}

{% block content %}

    <div class="container">
        <div class="inner">
            <div class="rounded shadow bg-white border p-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="name" class="form-label">Team name</label>
                        {{ form.name }}
                        <div class="text-danger err mt-2">
                            {{ form.name.errors }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}