{% extends 'base.html' %}
{% load static %}

{% block content %}
     <!-- Page Header-->
    <div class='py-5'>
        <div class="container"> 
            <div class="bg-white border rounded shadow p-4">
                <h3 class="mb-4">Register</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-floating">
                                {{ form.username }}
                                <label for="id_username">Username</label>
                                <div class="errors mt-2">
                                    {{ form.username.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-floating">
                                {{ form.password1 }}
                                <label for="id_password1">Password</label>
                                <div class="errors mt-2">
                                    {{ form.password1.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-floating">
                                {{ form.password2 }}
                                <label for="id_password2">Confirm Password</label>
                                <div class="errors mt-2">
                                    {{ form.password2.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary mt-4 mb-4 w-sm-100">
                            Register
                        </button>
                    </div>
                    <div>
                        <small>
                            Already have an account ?
                            <a href="{% url 'login' %}">
                                Login
                            </a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}