{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang='en'>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% if title %}
            <title>Best club tour | {{ title }}</title>
        {% else %}
            <title>Best club tour</title>
        {% endif %}
        <link rel="icon" type="image/x-icon" href="{% static 'base/img/favicon.ico' %}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="{% static 'vendor/sweetalert2/css/sweetalert2.min.css' %}">
        {% block vendor_styles %} {% endblock vendor_styles %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{% static 'main/css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'main/css/fonts.css' %}" />
        {% block styles %}{% endblock styles %}
    </head>
    <body>
        <main id="main">
            {% block content %}{% endblock content %}
        </main>
        <!-- Bootstrap core JS-->
        <script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
        <script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/sweetalert2/js/sweetalert2.all.min.js' %}"></script>
        {% block vendor_scripts %} {% endblock vendor_scripts %}
        {% block scripts %} {% endblock scripts %}
        {% if messages %}
            <script>
                {% for message in messages %}
                    Swal.fire({
                        icon: "{{ message.tags }}",
                        title: "{{ message.tags }}",
                        text: "{{ message }}"
                    })
                {% endfor %}
            </script>
        {% endif %}
    </body>
</html>